
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-box {
    background-color: #a98dff;
    border: 1px solid #949494;
    border-radius: 8px;
    min-height: 1000px !important;
    min-width: 1000px;
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    box-sizing: content-box;
    width: 100%;
    height: 100%;

}

.add-btn {
    background-color: #29a0cb; /* Green */
    border: none;
    color: white;
    border: 1px solid #949494;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
}

.clear-btn {
    background-color: white;
    border: 1px solid #949494;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
}

.empty {
    color: white;
    position: absolute;
    top: 46%;
    right: 47%;
}

